@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.News>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div>
    @await Html.PartialAsync("navbar")
    @Model.Value("newsTitle")
    
    @await Html.PartialAsync("newsPage")
    
    @await Html.PartialAsync("footer")
    
  
</div>