@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AboutUs>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div>
    @await Html.PartialAsync("navbar")
    
    @await Html.PartialAsync("aboutUs")
    
    @await Html.PartialAsync("footer")
    
  
</div>