@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

     <div class="hero-container">
        <h1>@Model.Value("headerText")</h1>
        <p>What are you waiting for?</p>
        <div class="hero-btns">
          <a href="news-page" class="hero-btn">
            @Model.Value("buttonText")
          </Link>
        </a>
      </div>
