@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

        <footer>
          <div class="footer-container">
            <div class="footer-links">
              <div class="footer-link-wrapper">
                <div class="footer-link-items">
                  <h2>Contact Us</h2>
                  <Link to="/">Contact</Link>
                  <Link to="/">Support</Link>
                  <Link to="/">FAQ</Link>
                </div>
              </div>
              <div class="footer-link-wrapper">
                <div class="footer-link-items">
                  <h2>Social Media</h2>
                  <Link to="/">LinkedIn</Link>
                  <Link to="/">Facebook</Link>
                  <Link to="/">Youtube</Link>
                  <Link to="/">Twitter</Link>
                </div>
              </div>
            </div>
          </div>
        </footer>   