@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

    
      <div class="hero-container">
        <h1>@Model.Value("headerText")</h1>
        <p>What are you waiting for?</p>
        <div class="hero-btns">
          <Link to="/products" class="hero-btn">
            Our Courses
          </Link>
        </div>
      </div>
