@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
//@using Umbraco_Website.NewsArticle;

@{
    var data = await Umbraco_Website.NewsArticle.NewsClient.GetNewsArticlesAsync();
}

<div>

    @if(data == null) {
    <div>
        Image not found
    </div>
    }
    else {
    foreach (var articles in data.Articles)
        {
    <div>

        <p>@articles.Title</p>
        <img src="@articles.UrlToImage">
        <p>@articles.PublishedAt</p>
        <p>@articles.Content</p>

    </div>
        }
    }

</div>