@page "/"

<PageTitle>Index</PageTitle>

<div class="hero-container">
    <h1>Welcome to my website</h1>
    <div class="hero-btns">
        <a href="blog" class="hero-btn">
            My Blog
        </a>
    </div>
</div>

